//
// @file
// Block styles
//

@import 'base';

//
// Texture blocks
//
.texture {
  background-color: #bdb89a;
  @include border-radius($borderRadiusLarge);
  color: $white;
  padding: 36px 30px;
  font-family: $altFontFamily;
  text-align: center;

  .block-title {
    display: none;
  }

  a {
    color: #fff;
  }

  h2 {
    @include pro-px(24px);
    @include pro-px(32px, 'line-height', 24px);
    color: $white;
    margin: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.texture-gray {
  background: $smallGroups url('../images/texture_dark_gray.png');
}

.texture-purple {
  background: url('../images/texture_purple.png');
}

//
// Blog blocks
//
.block .view-blog-posts .views-summary {
  @include reset-list-box;
}

.block-wise-theme-blog {
  background: transparent url('../images/blog_block.jpg') no-repeat 50% 0;
  @include border-radius($borderRadiusLarge);
  padding: 4px 10px 10px 96px;
  text-align: right;
  max-width: 164px;

  h2 {
    color: #fff;
    font-weight: bold;
    text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5);
    font-family: $altSerifFontFamily;
    @include pro-px(28px);
    line-height: 1em;
  }

  .content {
    font-family: $altFontFamily;
    @include pro-px(20px, 'line-height');
  }
}

//
// Sundays
//
.block.sundays {
  background: #333 url('../images/sundays.png') no-repeat 50% 100%;
  @include border-radius($borderRadiusLarge);
  padding: 10px 10px 170px 10px;
  text-align: center;
  color: $white;
  font-family: $altFontFamily;

  h2 {
    @include pro-px(28px);
    line-height: 1em;
    color: $white;
  }
}

//
// Responsive
//
@include lg-desktop {

  .texture {
    padding: $baseLineHeight * 1.5 $baseLineHeight * 2;
  }

  .block-wise-theme-blog {
    padding: 4px 10px 10px 134px;
  }

  .block.sundays {
    padding: 10px 40px 178px 40px;
  }
}

@include tablet {

  .block-wise-theme-blog {
    padding: 12px 10px 36px 10px;
    background-position: 0 0;

    .content p {
      display: none;
    }
  }

  .block.sundays {
    padding: 10px 10px 184px 10px;
  }
}