//
// @file
// Form
//

@import 'base';

label {
  font-weight: bold;
}

label.checkbox {
  font-weight: normal;
}

html.js input.form-autocomplete {
  background:  #fff url('../images/throbber.gif') no-repeat scroll 100% 8px;
}

html.js input.throbbing {
  background-position: 100% -119px;
}

// note that fieldsets are open by default (down arrow by default)
fieldset.collapsible {

  legend .fieldset-legend a {
    text-decoration: none;

    &:before {
      // down
      content: "\f078";

      display: inline-block;
      text-decoration: inherit;

      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      font-size: 16px;
      text-decoration: inherit;
      -webkit-font-smoothing: antialiased;

      /* sprites.less reset */
      display: inline;
      width: auto;
      height: auto;
      line-height: normal;
      vertical-align: baseline;
      background-image: none;
      background-position: 0% 0%;
      background-repeat: repeat;
      margin-top: 0;
      padding-right: 8px;
    }
  }

  &.collapsed legend .fieldset-legend a:before {
    // right
    content: "\f054";
    padding-right: 10px;
    margin-top: -3px;
    vertical-align: middle;
  }
}

.form-required {
  color: $errorText;
}

.form-type-file input[type=file] {
  line-height: 1em;
  margin-bottom: $baseLineHeight / 2;
}

.form-textarea-wrapper {
  margin-bottom: $baseLineHeight;
}

.control-group.form-type-checkboxes {
  margin-bottom: $baseLineHeight;
}

.help-block {
  @include pro-px(14px);
  @include pro-px(20px, 'line-height', 12px);
  margin-top: -8px;
}

.form-radios .controls > .radio:first-child,
.form-checkboxes .controls > .checkbox:first-child {
  padding-top: 0;
}

.form-radios > .control-group:first-child .radio,
.form-checkboxes > .control-group:first-child .checkbox {
  padding-top: 5px;
}

.form-type-radio,
.form-type-checkbox {
  margin-bottom: 0;

  .control-label {
    margin-bottom: 0;
  }
}

.webform-datepicker {

  select {
    width: auto;
    margin-right: 8px;
  }
}

.select-or-other .form-type-textfield {
  margin-top: -1 * ($baseLineHeight / 2);
}