//
// @file
// Form
//

@import 'base';

html.js input.form-autocomplete {
  background:  #fff url('../images/throbber.gif') no-repeat scroll 100% 8px;
}

html.js input.throbbing {
  background-position: 100% -119px;
}

// note that fieldsets are open by default (down arrow by default)
fieldset.collapsible {

  legend .fieldset-legend a {
    text-decoration: none;

    &:before {
      // down
      content: "\f078";

      display: inline-block;
      text-decoration: inherit;

      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      font-size: 16px;
      text-decoration: inherit;
      -webkit-font-smoothing: antialiased;

      /* sprites.less reset */
      display: inline;
      width: auto;
      height: auto;
      line-height: normal;
      vertical-align: baseline;
      background-image: none;
      background-position: 0% 0%;
      background-repeat: repeat;
      margin-top: 0;
      padding-right: 8px;
    }
  }

  &.collapsed legend .fieldset-legend a:before {
    // right
    content: "\f054";
    padding-right: 10px;
    margin-top: -3px;
    vertical-align: middle;
  }
}

.form-type-file input[type=file] {
  line-height: 1em;
  margin-bottom: 12px;
}