//
// @file
// Inline player for SoundManager2
//

@import 'base';
@import '../library/font-awesome/scss/font-awesome';

/*

 SoundManager 2: In-page MP3 player example
 ------------------------------------------

 Clicks on links to MP3s are intercepted via JS, calls are
 made to SoundManager to load/play sounds. CSS classes are
 appended to the link, which are used to highlight the
 current play state and so on.

 Class names are applied in addition to "sm2_link" base.

 Default:

 sm2_link

 Additional states:

 sm2_playing
 sm2_paused

 eg.

 <!-- default -->
 <a href="some.mp3" class="sm2_link">some.mp3</a>

 <!-- playing -->
 <a href="some.mp3" class="sm2_link sm2_playing">some.mp3</a>


 Note you don't require ul.graphic / ul.flat etc. for your use
 if only using one style on a page. You can just use .sm2_link{}
 and so on, but isolate the CSS you want.

 Side note: Would do multiple class definitions eg.

 a.sm2_default.sm2_playing{}

 .. except IE 6 has a parsing bug which may break behaviour,
 applying sm2_playing {} even when the class is set to sm2_default.


 If you want to make your own UI from scratch, here is the base:

 Default + hover state, "click to play":

 a.sm2_link {}
 a.sm2_link:hover {}

 Playing + hover state, "click to pause":

 a.sm2_playing {}
 a.sm2_playing:hover {}

 Paused + hover state, "click to resume":

 a.sm2_paused {}
 a.sm2_paused:hover {}


*/

/* two different list types */

ul.graphic {
  @include reset-list-box;

  li {
    margin-bottom: $baseLineHeight / 2;
    height: 44px;

    &:last-child {
      margin-bottom: 0;
    }

    a.sm2_link {
      display: inline-block;
      position: relative;
      color: #fff;
      background-color: #9cd4c9;
      width: 44px;
      height: 44px;
      @include border-radius(22px);
      text-indent: -99999em;
      overflow: hidden;

      @include transition-property(background-color);
      @include transition(background-color 0.15s linear);

      &:before {
        @include icon($play);
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 17px;
        font-size: 20px;
        color: #fff;
        text-indent: 0;
      }

      &:hover {
        text-decoration: none;
        background-color: darken(#9cd4c9, 10%);
      }
    }

    a.sm2_playing {
      background-color: darken(#9cd4c9, 20%);

      &:before {
        content: $pause;
        top: 10px;
        left: 14px;
        font-size: 20px;
      }
    }
  }
}

.table ul.graphic {

  li {
    height: auto;

    a.sm2_link {
      width: 22px;
      height: 22px;
      background-color: $purple;
      color: $white;
      @include border-radius(11px);

      &:before {
        font-size: 9px;
        top: -1px;
        left: 8px;
      }

      &:hover {
        background-color: darken($purple, 10%);
      }
    }

    a.sm2_playing {

      &:before {
        left: 7px;
      }
    }
  }
}

.table-hover {
  tbody {
    tr:hover td,
    tr:hover th {
      ul.graphic {

        li {

          a.sm2_link {
            background-color: $white;
            color: $purple;

            &, &:before {
              color: $purple;
            }
          }
        }
      }
    }
  }
}

body #sm2-container object,
body #sm2-container embed {
 /*
  flashblock handling: hide SWF off-screen by default (until blocked timeout case.)
  include body prefix to ensure override of flashblock.css.
 */

 left:-9999em;
 top:-9999em;
}

//
// Responsive
//
@include lg-desktop {
  ul.graphic {

    li {
      height: 70px;

      a.sm2_link {
        width: 70px;
        height: 70px;
        @include border-radius(35px);

        &:before {
          top: 25px;
          left: 25px;
          font-size: 36px;
        }
      }

      a.sm2_playing {

        &:before {
          top: 25px;
          left: 22px;
          font-size: 34px;
        }
      }
    }
  }
}