//
// @file
// Modules in the OOCSS sense.  Most styles should fit in here.  Use classes for styling things.  If you use an
// id selector in this file, a kitten will die.  If you absolutely need to use an id, it should probably
// be set in the _page.scss file.
//

@import 'base';

.region-slider {
  background: $beige url('../images/texture_beige_bg.jpg') repeat 50% 0;
}

.slide-text {
  position: absolute;
  top: $baseLineHeight * 1.5;
  left: 80px;
  color: $white;
  margin-left: 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
  @include pro-px(18px);
}

.slide-title {
  @include pro-px(84px, 'font-size', 18px);
  @include pro-px(92px, 'line-height', 84px);
  font-family: $altSerifFontFamily;
  margin-bottom: $baseLineHeight * 0.5;
}

.slide-tagline {
  margin-bottom: $baseLineHeight;
}

//
// Image captions
//
.caption,
.caption-width-container {
  max-width: 100%;
}

.caption {
  max-width: 60%;
}

.caption-inner {
  background: #f0eee7;
  @include border-radius($borderRadiusLarge);
  @include pro-px(14px);
  text-align: center;
  max-width: 100%;
  width: auto;
  padding-bottom: 10px;
  font-style: italic;
}

.caption p.caption-text {

}

.caption img,
.caption object {
  margin-bottom: 5px;
  display: block;
}

// Aligned captions
.caption-left {
  float: left;
  margin: 0 $gridGutterWidth $baseLineHeight * 2 0;
}

.caption-right {
  float: right;
  margin: 0 0 $baseLineHeight * 2 $gridGutterWidth;
}

.caption-center {
  display: block;
  text-align: center;
}

.caption-center .caption-width-container {
  display: inline-block;
}

.featured-image,
.submitted {
  margin-bottom: $baseLineHeight / 2;
}

.submitted {
  text-transform: uppercase;
  @include pro-px(14px);
  @include pro-px(20px, 'line-height', 14px);
  font-weight: 700;
}

.links {
  font-family: $altFontFamily;
  font-weight: bold;
}

.more-link {
  margin-bottom: $baseLineHeight;
}

.rss {
  color: #de6d35;
  font-size: 36px;

  &:hover,
  &:focus {
    color: darken(#de6d35, 10%);
    text-decoration: none;
  }
}

.rss-messages {
  position: absolute;
  top: 12px;
  right: 0;
}

.sort-asc,
.sort-desc {
  padding-left: 6px;
  font-size: 22px;
  line-height: $baseLineHeight !important;
  vertical-align: middle !important;
  text-decoration: none !important;
}

.view-filters {
  font-family: $altFontFamily;

  form,
  .views-exposed-widgets,
  .control-group,
  input[type=text],
  .help-block {
    margin-bottom: 0;
  }
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}

//
// Publications
//
.view-content,
.more-link {
  margin-bottom: $baseLineHeight;
}

//
// TinyMCE
//
body#tinymce {
  margin: 10px;
}

//
// Simple Share
//
a[class*=service-links],
a.service-links-facebook,
a.service-links-twitter {
  display: inline-block;
  padding: 4px 44px 4px 12px;
  color: #fff;
  @include border-radius(4px);
  @include pro-px(18px);
  font-weight: bold;
  line-height: 28px;
  vertical-align: top;
  text-decoration: none;
  font-family: $altFontFamily;

  border: 1px solid darken($pink, 10%);
  @include gradient-vertical($pink, darken($pink, 10%));

  i {
    padding-right: 26px;
    font-size: 28px;
    @include text-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

a.service-links-twitter {
  border: 1px solid #36a3d0;
  @include gradient-vertical(#40bff5, #3ab0e2);
}

a.service-links-facebook {
  border: 1px solid #4c6bab;
  @include gradient-vertical(#5d82d1, #5173bc);
}

.service-links > ul {
  @include reset-list-box;

  li {
    display: inline;
  }
}

.service-links-full > ul {
  text-align: center;

  margin: $baseLineHeight 0;
  padding: $baseLineHeight 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;

  li a {
    margin: 0 15px;
  }
}

.service-links-teaser > ul {
  @include reset-list-box;

  span.label {
    @include element-invisible;
  }

  a[class*=service-links],
  a.service-links-facebook,
  a.service-links-twitter {
    background: transparent none;
    padding: 0;
    color: $linkColor;
    border: none;

    i {
      @include text-shadow(none);
      font-size: 24px;
      padding-right: 8px;
    }
  }
}

.sidebar {

  a[class*=service-links],
  a.service-links-facebook,
  a.service-links-twitter {
    @include box-sizing(border-box);
    width: 100%;

    i {
      padding-right: 36px;
    }
  }
}

@media (max-width: 979px) {

  .service-links > ul {

    li {

      a {
        padding-right:14px;

        i {
          padding-right: 16px;
        }
      }
    }
  }
}

@include mobile {

  .service-links > ul {

    li {
      display: block;
      margin-bottom: $baseLineHeight * 0.5;

      &.last {
        margin-bottom: 0;
      }
    }
  }
}

.table-info {

  tr td:first-child {
    padding-left: 0;
  }

  td {
    vertical-align: bottom;
  }
}

//
// Search
//
#secondary-navigation-wrapper .search-box {
  float: right;
  border-left: 1px solid #846583;
  border-right: 1px solid #846583;
  @include gradient-vertical(#662664, #8d738c);

  form {
    margin-bottom: 0;
  }

  input[type=text] {
    border: 0;
    background-color: transparent;
    color: #fff;
  }

  .btn {
    background: transparent url('../images/search_icon.png') no-repeat 14px 7px;
    width: 42px;
    height: 34px;
    padding: 0;
    overflow: hidden;
    text-indent: -9999em;
  }
}

.search-results {
  list-style: none;
  list-style-image: none;
  margin-left: 0;
}

//
// Responsive
//
@include lg-desktop {
  // Aligned captions
  .caption-left {
    margin: 0 $gridGutterWidth1200 $baseLineHeight * 2 0;
  }

  .caption-right {
    margin: 0 0 $baseLineHeight * 2 $gridGutterWidth1200;
  }
}

@include tablet {
  // Aligned captions
  .caption-left {
    margin: 0 $gridGutterWidth768 $baseLineHeight * 2 0;
  }

  .caption-right {
    margin: 0 0 $baseLineHeight * 2 $gridGutterWidth768;
  }
}