//
// @file
// Modules in the OOCSS sense.  Most styles should fit in here.  Use classes for styling things.  If you use an
// id selector in this file, a kitten will die.  If you absolutely need to use an id, it should probably
// be set in the _page.scss file.
//

@import 'base';

.region-slider {
  background: $beige url('../images/texture_beige_bg.jpg') repeat 50% 0;
}

.slide-text {
  position: absolute;
  top: $baseLineHeight * 1.5;
  left: 80px;
  color: $white;
  margin-left: 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
  @include pro-px(18px);
}

.slide-title {
  @include pro-px(84px, 'font-size', 18px);
  @include pro-px(92px, 'line-height', 84px);
  margin-bottom: $baseLineHeight * 0.5;
}

.slide-tagline {
  margin-bottom: $baseLineHeight;
}
