//
// @file
// Styles for node templates
//

@import 'base';

.field-name-field-image,
.field-name-field-blog-post-image {
  margin-bottom: $baseLineHeight;
}

.node {
  margin-bottom: $baseLineHeight * 1.5;
}

.node-teaser {

  h2 {
    @include pro-px(26px);
    @include pro-px(30px, 'line-height', 26px);
    font-weight: bold;
  }

  p,
  .field-name-body,
  .field-name-field-blog-post-body {
    margin-bottom: $baseLineHeight / 2;
  }
}

//
// Activity stream
//
body.front .node.view-mode-full {
  display: none;
}

.view-activity {

  .row-set-featured {
    position: relative;
    margin-bottom: $baseLineHeight * 3;

    &:after {
      content: '';
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      background-color: #ddd;
    }

    .cell {
      padding-top: $baseLineHeight * 1.5;
      border-top: 1px solid #ddd;
      margin-top: $baseLineHeight * 1.5;
    }

    .cell-first {
      padding-top: 0;
      border-top: 0;
      margin-top: 0;
    }

    .node {
      margin-bottom: 0;
    }
  }

  .row-set-other {
    font-size: 0.8em;
    line-height: 1.5em;

    h2 {
      margin-top: 0;
    }

    .node-service {

      &.node-teaser {
        padding: 15px;
      }

      header {
        margin-bottom: $baseLineHeight / 2;
      }
    }
  }

  // Adjust the grid
  .row-fluid .span6 {
    width: 46.5%;
    margin-left: 7%;
  }

  .row-fluid .span6:first-child {
    margin-left: 0;
  }
}

.node-readmore:after {
  content: ' ...';
}

//
// Services
//
.node-service {

  &.node-teaser {
    padding: 20px;
    background-color: #ecebe3;
    border-radius: $borderRadiusLarge;
  }

  .audio {
    float: left;
    margin-top: 6px;
    margin-right: 10px;
  }

  .meta {
    font-family: $altFontFamily;
    font-weight: bold;
  }

  header {
    margin-bottom: $baseLineHeight;
  }

  h2 {
    margin: 6px 0;
  }
}

.field-name-field-service-date {
  color: #494949;
}

// Service list page
.icon-cloud-download {
  font-size: 22px;
  color: $purple;

  &:hover {
    text-decoration: none;
  }
}

.table-hover {
  tbody {
    tr:hover td,
    tr:hover th {
      .icon-cloud-download { color: $white; }
    }
  }
}

.view-service-list {

  .views-field-title {
    text-transform: uppercase;
    max-width: 360px;
  }

  th.views-field-title {
    text-transform: none;
  }
}

//
// Responsive styles
//
@include lg-desktop {

}

@media (max-width: 599px) {

  .view-service-list {

    th.views-field-field-service-date {
      @include border-top-right-radius($baseBorderRadius);
      @include border-bottom-right-radius($baseBorderRadius);
    }

    .views-field-field-service-pastor,
    .views-field-field-service-date-1 {
      display: none;
    }
  }
}

@media (max-width: 379px) {

  .view-service-list {

    th.views-field-title {
      @include border-top-right-radius($baseBorderRadius);
      @include border-bottom-right-radius($baseBorderRadius);
    }

    .views-field-field-service-date {
      display: none;
    }
  }
}

@include mobile {

  .view-activity {

    .row-set-featured {
      margin-bottom: 0;

      .cell {
        border-top: 0;
        margin-top: 0;
        padding-top: 0;
        margin-bottom: $baseLineHeight * 1.75;
      }
    }

    .row-set-other {
      font-size: 1em;
    }

    // Adjust the grid
    .row-fluid .span6 {
      width: 100%;
      margin-left: 0;
    }

    .row-set-featured:after {
      display: none;
    }
  }
}