//
// @file
// Structural styles that give the site it's overall shape.  Styles in this file are generally specified using id
// selectors and as such are very specific and narrow in their application.  Before adding styles here, think whether
// the style could be used more broadly and consider putting your style into the _module.scss file using a class.
//

@import 'base';

#page {
  margin-top: $baseLineHeight;
}

#logo {
  float: left;
  margin-bottom: $baseLineHeight;
}

#main-menu-desktop {
  float: right;
  margin-top: $baseLineHeight * 1.5;
}

#secondary-navigation-wrapper {
  background-color: $purple;

  .menu-drop-down {
    margin-bottom: 0;

    > .menu-block-wrapper > ul.menu {

      > li {

        > a {
          padding: 10px;
          border-left: 1px solid #846583;
          color: #fff;
          text-transform: uppercase;
          @include pro-px(14px);
          @include border-radius(0);
        }

        > a:focus,
        &:hover > a,
        &.open > a {
          background-color: transparent;
          text-decoration: underline;
        }
      }
    }
  }
}

#content,
#tinymce {

  img {
    @include border-radius($borderRadiusLarge);
  }
}

#page-title {
  margin-bottom: $baseLineHeight;
  margin-top: 0;
}

body.front {

  .title-wrapper {
    text-align: center;
  }

  #page-title {
    color: #fff;
    background-color: $yellow;
    display: inline-block;
    margin-top: $baseLineHeight * -1.5;
    padding: 10px 60px;
    @include pro-px(40px);
    font-weight: bold;
    @include border-bottom-right-radius($borderRadiusLarge);
    @include border-bottom-left-radius($borderRadiusLarge);
  }
}

#footer {
  background-color: $purple;
  color: $white;
  padding-top: $baseLineHeight * 2;
  @include pro-px(14px);

  .logo img {
    margin-bottom: $baseLineHeight * 2;
  }

  a {
    color: $lightPink;
  }

  .menu-list {

    > ul.menu {
      @include reset-list-box;

      > li {
        float: left;
        width: 20%;
        text-align: center;

        > a {
          font-family: $altFontFamily;
          font-weight: bold;
          color: $white;
          @include pro-px(22px);
        }
      }
    }
  }
}

#footer-left {
  text-align: center;
}

//
// Responsive styles
//
@include mobile {

  #header {
    text-align: center;
  }

  #logo {
    float: none;
  }
}
