//
// @file
// Type styles
//

@import 'base';

body {
  -webkit-font-smoothing: antialiased;
}

body#tinymce {

  td {
    font-family: $baseFontFamily;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    color: $textColor;
    margin: 0;
  }
}